.card__money-card--value-1 {
  background-color: $color-money-1;

  .card-value {
    background-color: $color-money-1;
  }
}

.card__money-card--value-2 {
  background-color: $color-money-2;

  .card-value {
    background-color: $color-money-2;
  }
}

.card__money-card--value-3 {
  background-color: $color-money-3;

  .card-value {
    background-color: $color-money-3;
  }
}

.card__money-card--value-4 {
  background-color: $color-money-4;

  .card-value {
    background-color: $color-money-4;
  }
}

.card__money-card--value-5 {
  background-color: $color-money-5;

  .card-value {
    background-color: $color-money-5;
  }
}

.card__money-card--value-10 {
  background-color: $color-money-10;

  .card-value {
    background-color: $color-money-10;
  }
}

.card-circle__money-card {
  border-style: double;
  font-size: 3em;
}